<div class="row">
  <button
    type="button"
    class="button"
    (click)="this.router.navigate(['firstPage'])"
  >
    Ir para primeira página
  </button>
  <button
    type="button"
    class="button"
    (click)="this.router.navigate(['secondPage'])"
  >
    Ir para segunda página
  </button>
  <button
    type="button"
    class="button"
    (click)="this.router.navigate(['params'])"
  >
    Ir para params
  </button>
  <button
    type="button"
    class="button"
    (click)="this.router.navigate(['pokemonList'])"
  >
    Ir para pokemon list
  </button>
</div>
